# vscode settings
.vscode/

# config files
.env
test.env
cors.config.toml

# temporary files and directories ("dirty" files created at project start)
tmp
temp
internal/requests/result.txt

# test Dockerfiles and docker composes
compose.test.yaml
app.test.Dockerfile

# local log files
info.log 
error.log

# raw protobuf files
proto/
