# игнорирование конфигурационных файлов
.env
test.env

admins.yaml

# игнорирование временных файлов ("грязные" файлы времен создания проекта)
tmp
temp
internal/requests/result.txt

# игнорированные тестовых Dockerfile и Docker compose
compose.test.yaml
app.test.Dockerfile


# игнорирование локальных логов
info.log 
error.log
